.item {
    margin: 12px 0px;
    display: flex;
    label {
      display: inline-block;
      width: 70px;
      text-align: right;
      margin-top: 5px;
    }
    .ivu-checkbox-wrapper {
      text-align: left;
    }
  }
  
  .ivu-collapse {
    border: 0;
    > .ivu-collapse-item {
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
      border: none;
      margin: 0 10px 5px;
    }
  }
  .checkbox {
    position: relative;
    top: 1px;
  }
  
  h4 {
    margin-bottom: 5px;
  }
  ::v-deep .vue-treeselect__option--disabled .vue-treeselect__label-container{
    color: #515a6e;
  }

  ::v-deep .ivu-modal {
    max-height: 80vh;
    overflow: auto;
  }
  
  ::v-deep .ivu-drawer-body {
    height: calc(100% - 51px);
    background: rgb(247, 248, 250);
    padding: 0;
    input {
      border-radius: 6px;
    }
    .content {
      padding: 16px;
      height: calc(100% - 40px);
      overflow: auto;
      display: flex;
      &_l{
        width: 25%;
        padding: 10px;
        ul{
          li{
            line-height: 24px;
            text-indent: 10px;
            cursor: pointer;
            &:hover{
              background: #eee;
            }
            &.active{
              background: #eee;
            }
          }
        }
      }
      &_m{
        width: 30%;
      }
      &_r{
        width: 45%;
        .drop_content{
          min-height: 50px;
          background: #f7f7f7;
          border: 1px dashed #eee;
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          border-radius: 6px;
          
          p{
            padding: 4px 6px;
            background: #bacdf4;
            line-height: 1;
            margin-bottom: 6px;
            margin-right: 6px;
            border-radius: 4px;
            cursor: pointer;
            height: 24px;
          }
          .placeholder{
            margin: auto;
            color: rgba(0, 0, 0, 0.4);
          }
        }

        .group_title{
          display: flex;
          justify-content: space-between;
          margin: 20px 0;
        }
        .group_item{
          border: 1px solid #eee;
          margin-bottom: 10px;
          padding-right: 10px;
          position: relative;
          .move{
            cursor: pointer;
            font-size: 20px;
          }
          .close{
            cursor: pointer;
            font-size: 20px;
            position: absolute;
            right: 20px;
            top: 10px;
          }
        }
        
      }
    }
    .footer {
      height: 40px;
      padding-left: 20px;
      border-top: 1px solid #dedede;
      display: flex;
      align-items: center;
      button {
        margin-right: 10px;
      }
    }
  }
  
  .upload {
    background: #fff;
    border: 1px dashed #dcdee2;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    width: 350px;
    padding: 20px 0;
  }


